<p>You're logged in with Angular 8!!</p>
<label for="date">Choose a Date Format:</label>&nbsp;&nbsp;
<select [(ngModel)]="selectedLevel" value="item" (change)="selected()">
  <option *ngFor="let item of data" class="form-control col-sm-4" [ngValue]="item" placeholder="choose ">12hrTo24hrs{{today}}</option>
</select>
<br>
<b>{{selectedLevel.id}}</b>
<h3>All login audit :</h3>
<div *ngIf="isLoading" class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div>
<table *ngIf="showContent" datatable datatable="ng" [dtOptions]="dtOptions">
    <thead>
      <tr>
        <th>User</th>
        <th>ID</th>
        <th>loginTime</th>
        <th>logoutTime</th>
        <th>ip</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let audit of audits">
        <td>{{ audit.user }}</td>
        <td>{{ audit.id }}</td>
        <td>{{ audit.loginTime }}</td>
        <td>{{ audit.logoutTime }}</td>
        <td>{{ audit.ip }}</td>
      </tr>
      </tbody>
      </table>
      